/* 1. Base */
:root {
  --main-text-color: #937b92;
  --accent-text-color: #502050;
  --secondary-text-color: #ffffff;
  --secondary-accent-text-color: #ee68a4;
  --secondary-bg-color: #f7f2f7;
  --accent-bg-color: #502050;
}

body {
  background: url('../images/bg-pattern-top-mobile.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--main-text-color);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.1;
  min-width: 300px;
  overflow-x: hidden;
  text-align: center;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* 2. Shared */


/* 3. Specific */
.social-proof {
  display: grid;
  grid-template-areas: "text"
                       "accomplishments"
                       "testimonials"
                       "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 100vh;
  margin: 0 auto;
  width: 80%;
}

.social-proof__text {
  grid-area: text;
}

.social-proof__title {
  color: var(--accent-text-color);
  font-size: 2.1rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 90px 0 25px 0;
}

.social-proof__subtitle {
  line-height: 1.5;
  margin: 0 auto 40px auto;
  padding: 0 15px;
}

.accomplishment {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  color: var(--accent-text-color);
  display: flex;
  flex-direction: column;
  font-weight: 700;
  grid-area: accomplishments;
  margin: 0 auto 20px auto;
  padding: 20px;
}

.accomplishment__icons {
  margin-bottom: 15px;
}

.accomplishment__star-icon {
  padding: 0 3px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  grid-area: testimonials;
  text-align: left;
}

.testimonials-card{
  background-color: var(--accent-bg-color);
  border-radius: 5px;
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  margin:0 auto 15px auto;
  padding: 30px;
}

.testimonials-card__reviewer-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  padding-top: 15px;
}

.testimonials-card__image {
  border-radius: 50%;
  height: 45px;
  margin-right: 20px;
  width: 45px;
}

.testimonials-card__name {
  font-weight: 500;
  margin-bottom: 5px;
}

.testimonials-card__type {
  color: var(--secondary-accent-text-color)
}

.testimonials-card__review {
  line-height: 1.5;
  padding-bottom: 10px;
}

.attribution {
  align-self: flex-end;
  background: var(--secondary-bg-color);
  font-size: 11px;
  grid-area: footer;
  padding: 10px 0;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* 4. Responsiveness */
@media (min-width: 1025px) {
  body {
    background: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
  }
  .social-proof {
    grid-template-areas: "text accomplishments"
                         "testimonials testimonials"
                         "footer footer";
  grid-template-columns: 40% 60%;
  grid-template-rows: auto; 
  max-width: 1000px;
  }

  .social-proof__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-proof__title {
    margin: 0 4em 0 0;
    padding: 90px 0 10px 0;
  }

  .social-proof__subtitle {
    padding: 0;
  }

  .accomplishments {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }

  .accomplishment {
    align-items: center;
    flex-direction: row;
    /* flex-shrink: 0; */
    margin: 0 0 15px 0;
    min-width: 70%;
  }

  .accomplishment__two {
    align-self: center;
  }

  .accomplishment__three {
    align-self: flex-end;
    margin: 0;
  }

  .accomplishment__icons {
    margin: 0 2em 0 0;
  }

  .testimonials {
    flex-direction: row;
    gap: 25px;
  }
}